:root {
  --darkergreen: #04aa6d;
  --lightergreen: rgba(4, 170, 109, 0.88);
  --orange: rgba(255, 165, 0, 0.9);
  --light: #d1d3d1;
  --lighter: rgba(150, 150, 150, 1);
  --dark: #333333;
}

* {
  margin: 0;
  font-family: 'Courier New', monospace;
  color: white;
}

html, body {
  height: 100%;
  background-color: var(--dark);
}

#launch, #main, #end {
  text-align: center;
  font-size: xxx-large;
}

#launch, #main, #end {
  height: 100%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--darkergreen);
  text-shadow: 2px 2px var(--orange);
}

#forms, #howto {
  text-align: start;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#forms {
  display: grid;
  justify-content: start;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 20px;
  height: fit-content;
}

#forms-1 {
  grid-area: 1 / 1 / 1 / 1;
}

#forms-2 {
  grid-area: 1 / 2 / 1 / 2;
}

#forms-3 {
  grid-area: 2 / 1 / 2 / 1;
}

#forms-4 {
  grid-area: 2 / 2 / 2 / 2;
}

#forms-1 > span, #forms-3 > span {
  vertical-align: middle;
  font-size: .5em;
}

form > span, input[type="radio"], form > label {
  vertical-align: middle;
  left: 0;
}

form > label {
  font-size: .5em;
}

label > img {
  width: 45px;
  height: 45px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:after {
  background-color: var(--lighter);
}

input[type='radio']:checked:after {
  background-color: var(--orange);
}

#howto {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: .5em;
}

#howto > p > span {
  color: var(--orange);
}

button {
  border-radius: 15px;
  background-color: var(--lightergreen);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .4em;
}

#btn-launch, #btn-restart {
  margin-top: 50px;
}

#btn-yes, #btn-no {
  margin-left: 10px;
}

#btn-launch:hover, #btn-yes:hover, #btn-no:hover, #btn-restart:hover {
  background-color: var(--darkergreen) !important;
  outline: 4px solid var(--orange);
}

#btn-turn:not([disabled]) {
  background-color: var(--darkergreen);
  outline: 4px solid var(--orange);
}

#stage {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/*#canvas-0 {*/
/*    background-color: #efe7e7;*/
/*}*/

#main-before, #main-play {
  position: absolute;
  margin-top: 770px;
  padding-bottom: 20px;
  width: 1280px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto
}

#main-before {
  text-align: center;
}

#main-before > span {
  vertical-align: middle;
}

#btn-turn {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  border: 2px solid var(--lightergreen);
}

#dices-bar {
  text-align: right;
  float: left;
  padding: 0 0 0 16px !important;
  min-width: 800px;
}

.dices-player {
  display: inline-grid;
  justify-content: space-between;
  min-width: 90px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 15px;
}

#main-before > span, .dices-player > div > span {
  vertical-align: bottom;
  font-size: xx-large;
}

.dices-player > p {
  font-size: large;
  text-align: right;
  margin-bottom: 0;
}

ul {
  display: inline-block;
  text-align: left;
}

ul > li {
  display: flex;
  align-items: center;
  padding: .5rem;
  font-size: x-large;
}

ul > li::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -10px;
  position: relative;
  background-color: var(--orange);
  content: '';
  display: inline-block;
  visibility: visible;
}

@media only screen and (max-height: 750px) {
  h1 {
    margin-top: 0;
    margin-bottom: 0 !important;
  }

  button {
    padding: 1% 2% 1% 2%;
  }

  #btn-launch, #btn-restart {
    margin-top: 0;
  }

  #btn-yes, #btn-no {
    margin-left: 5px;
  }

  #forms, #howto {
    max-width: 80%;
  }

  #forms-1 > span, #forms-3 > span {
    font-size: .4em;
  }

  form > label {
    margin-left: -5px;
    font-size: .4em;
  }

  label > img {
    width: 40px;
    height: 40px;
  }

  #howto {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: .4em;
  }

  #main-before > span, .dices-player > div > span {
    vertical-align: middle;
  }
}
